@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
}
body {
  height: 100%;
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}

.wrapper {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.tools .card {
  background-color: #d8c6f8;
}
.tools .card:nth-child(2) {
  background-color: #f9e1d5;
}
.form-container {
  position: absolute;
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
  z-index: 2;
  top: 3.5rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.form-container.show {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
form {
  min-width: 20rem;
}
